<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail To-Do</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ list_detail.name }}</h1>
            <a href="{% url 'update_list' list_detail.id %}">Edit</a>
            <p><a href="{% url 'delete_list' list_detail.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                <tbody>
                    {% for item in list_detail.items.all %}
                    <tr>
                        <td>{{ item.task }}</a></td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </main>
</body>

</html>
