<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>

<body>
    <main>
        <h1>My Lists</h1>
        <table>
            <thead>
                <nav>
                    <a href="{% url 'create_list' %}">Create a new list</a>
                </nav>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for name in name_list %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' name.id %}">{{ name.name }}</a></td>
                    <td>{{ name.items.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </tr>
            </tbody>
        </table>
    </main>
</body>

</html>
